@using MiAPI.UTN.Modelos;

@model Empleado

@{
    ViewData["Title"] = "Detalle Empleado";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Detalle Persona</h2>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Salario</th>
        <td>@Model.Salario.ToString("###,##0.00")</td>
    </tr>
    <tr>
        <th>Comisión</th>
        <td>@Model.Comision.ToString("###,##0.00")</td>
    </tr>
    <tr>
        <th>Fecha Ingreso</th>
        <td>@Model.FechaIngreso.ToString("dd-MMM-yyyy")</td>
    </tr>
    <tr>
        <th>Nombre Persona</th>
        <td>@Model.Persona.Name @Model.Persona.Apellido</td>
    </tr>
    <tr>
        <th>Nombre Cargo</th>
        <td>@Model.Cargo.Name</td>
    </tr>
</table>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>

